.background    { background-image: url("https://media.giphy.com/media/bsCfaYEVJWHXG/giphy.gif");
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: rgb(178, 14, 22); }
.wall          { background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQEvVaX-TigLmXI9k10Kl_hiFJVtDfELZTEL8aKg-ajocIfrrswQA"); }
.floater	   {background-image: url("http://opp.opengameart.org/images/f/f4/Cloud6.png"); background-size: 100% 100%;}
.actor  { position: absolute;  }
.coin   {background-image: url("https://vignette.wikia.nocookie.net/pixelpeople/images/6/6d/Coin.png/revision/latest?cb=20130301163700"); background-size: 100% 100%;}
.player { background: rgb(0, 0, 0);}
.jumper	{ background-image: url("https://openclipart.org/image/2400px/svg_to_png/216180/coracaozinho-para-o-luiz-otavio.png"); background-size: 100% 100%; }
.portal { background: rgb(244, 66, 241); }

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}

.lost .player {
  background: rgb(160, 64, 64);
}
.won .player {
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}
